<h1>Listing nsadocs</h1>

<table>
  <thead>
    <tr>
      <th>Release date</th>
      <th>Released by</th>
      <th>Article url</th>
      <th>Title</th>
      <th>Doc path</th>
      <th>Type</th>
      <th>Legal authority</th>
      <th>Records collected</th>
      <th>Creation date</th>
      <th>Doc text</th>
      <th>Aclu desc</th>
      <th>Sigads</th>
      <th>Codewords</th>
      <th>Programs</th>
      <th>Countries</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nsadocs.each do |nsadoc| %>
      <tr>
        <td><%= nsadoc.release_date %></td>
        <td><%= nsadoc.released_by %></td>
        <td><%= nsadoc.article_url %></td>
        <td><%= nsadoc.title %></td>
        <td><%= nsadoc.doc_path %></td>
        <td><%= nsadoc.type %></td>
        <td><%= nsadoc.legal_authority %></td>
        <td><%= nsadoc.records_collected %></td>
        <td><%= nsadoc.creation_date %></td>
        <td><%= nsadoc.doc_text %></td>
        <td><%= nsadoc.aclu_desc %></td>
        <td><%= nsadoc.sigads %></td>
        <td><%= nsadoc.codewords %></td>
        <td><%= nsadoc.programs %></td>
        <td><%= nsadoc.countries %></td>
        <td><%= link_to 'Show', nsadoc %></td>
        <td><%= link_to 'Edit', edit_nsadoc_path(nsadoc) %></td>
        <td><%= link_to 'Destroy', nsadoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nsadoc', new_nsadoc_path %>
