<div class=<%= field %>>
    <strong class="label"><%= human_readable %></strong><br>
    <!-- Print a list of named links -->
    <% data.each do |link| %>
        <a href="<%= link[0] %>" class="related-item">
            <i class="icon-document"></i>
            <%= link[1] %>
        </a>
        <a href="<%= link[0]%>" class="btn btn-default btn-sm"  target="_blank">
            View Document
        </a>
        <hr>
    <% end %>
    <!-- TODO: make editable conditional -->
    <div class="more-bottom text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-link">
            <i class="icon-plus"></i>
            Add Associated Documents
        </button>
    </div>
</div>
