<div class=<%= field %>>
    <strong class="label"><%= human_readable %></strong>
    <!-- Print a list of named links -->
    <ul class="list-unstyled">
        <% data.each do |link| %>
        <li>
            <%= link[1] %><br>
            <a href="<%= link[0] %>" target="_blank">
                <%= link[0] %>
            </a>
        </li>
    <% end %>
    </ul>
</div>

<% if is_editable?("show") %>
<div class="add-top more-bottom">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-link" data-type="named-link">
        <i class="icon-plus"></i>
        Add <%= human_readable %>
    </button>
</div>
<% end %>
