<% if !data.blank? %>
<div class=<%= field %>>
    <strong class="label"><%= human_readable %></strong><br>
    <!-- Print a list of named links -->
    <% data.each do |link| %>
        <a href="<%= link[0] %>" class="related-item">
            <i class="icon-document"></i>
            <%= link[1] %>
        </a>
        <a href="<%= link[0]%>" class="btn btn-default btn-sm"  target="_blank">
            See Document
        </a>
        <hr>
    <% end %>
</div>
<% end %>
