<% if !data.blank? %>
<div class=<%= field %>>
    <strong class="label"><%= human_readable %></strong>
    <!-- Print a list of named links -->
    <ul class="list-unstyled">
        <% data.each do |link| %>
        <li>
            <%= link[1] %><br>
            <a href="<%= link[0] %>" target="_blank">
                <%= link[0] %>
            </a>
        </li>
    <% end %>
    </ul>
</div>
<% end %>
