<!-- URLs representing an entity (website, social media, etc...) -->
<p class=<%= field %>>
    <strong class="label"><%= human_readable %></strong>
    <a class="link <%= editclass %>" href="<%= data %>" target="_blank"><%= data %></a>
</p>
