<!-- Show text -->
<p class=<%= field %>>
  <% if text.is_a?(Array) %>
      <strong class="label"><%= human_readable %></strong>
      <span class="<%= editclass %> type-text">
          <%= raw(format_text(text.join(", "))) %>
      </span>
  <% else %>
      <strong class="label"><%= human_readable %></strong>
      <span class="<%= editclass %> type-text">
          <%= raw(format_text(text)) %>
      </span>
  <% end %>
</p>
