<!-- Only show search bar on index action -->
<% if ["docs", "search"].include? params["controller"] and params["action"] == "index" %>
<div class="navbar-left">
  <%= render partial: 'docs/index/search/searchbar/dropdown/dropdown' %>
  <!-- Render forms for different types of queries -->
  <%= render partial: 'docs/index/search/searchbar/search_fields/all' %>
  <%= render partial: 'docs/index/search/searchbar/search_fields/string', locals: {fieldname:'stringquery'} %>
  <%= render partial: 'docs/index/search/searchbar/search_fields/date', locals: {
      fieldname: 'datequery',
      start_date: 'start_date',
      end_date: 'end_date' } %>
  <%= render partial: 'docs/index/search/searchbar/search_fields/datetime', locals: {
      fieldname: 'datequery',
      start_date: 'start_date',
      end_date: 'end_date' } %>
</div>
<% end %>
