<div class="catalyst-job">
    <h3><%= recipe["title"] %></h3>
    <div class="row">
        <div class="col-md-6">
            <% if recipe["docs_to_process"]["run_over"] == "date_range" %>
                Date range found and mined <% recipe["total_mined_count"] %> from <%= recipe["total_doc_count"] %> total documents mined
            <% elsif recipe["docs_to_process"]["run_over"] == "matching_query" %>
                Text search found and mined <% recipe["total_mined_count"] %> from <%= recipe["total_doc_count"] %> total documents
            <% else %>
                All <%= recipe["total_doc_count"] %> documents mined
            <% end %>
        </div>
        <div class="col-md-6">
            <%= recipe["annotators"].length %> text miners used:
            <% recipe["annotators"].each_with_index do |annotator, index| %>
                <%= annotator["human_readable_label"] %>,
            <% end %>
        </div>
    </div>
    <ul class="list-inline add-top">
        <li>
            <a href="/search?_facet=/builder?recipe_id=<%= recipe["id"] %>" class="btn btn-sm btn-default">
                View Results
            </a>
        </li>
        <li>
            <a href="/catalyst/builder?recipe_id=<%= recipe["id"] %>" class="btn btn-sm btn-default">
                New Job From Recipe
            </a>
        </li>
        <li>
            <a href="/api/delete_recipe?recipe_id=<%= recipe["id"] %>" class="btn btn-sm btn-default">
                Delete Recipe
            </a>
        </li>
    </ul>
    <hr>
</div>
