<div id="sidebar" class="col-sm-4 col-md-3 sidebar">
    <%= render partial: 'catalyst/sidebar' %>
</div>
<div id="maincontent" class="efm-target col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
    <%= render partial: 'catalyst/tabs' %>
    <div class="tab-content">

        <h3>Create Job</h3>

        <div class="alert alert-info" role="alert">
            <h4 class="pull-left">Getting Started</h4>
            <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="clearfix"></div>
            <p>Catalyst is an automated way of analysing the large
            amounts of data in Looking Glass. Catalyst can find and filters to
            documents based on people, locations, special terms and much more. In
            order for Catalyst to do it's magic, you need to give it some guidance
            and help with <em>how</em> and <em>what</em> aspects of your data you
            want Catalyst to analyze.
            <a href="/docs/catalyst">Read more about Catalyst</a>
            </p>
        </div>

        <h3>Select Dataset</h3>
        <label>Dataset</label>
        <select id="select-dataspec" name="dataspec">
            <% document_type_list.each do |classname, human_name| %>
            <option value="<%= classname %>"><%= human_name %></option>
            <% end %>
        </select>

        <h3>Narrow Your Search</h3>
        <p>Text miners can run on all documents or a more specific subset. Use these menus to narrow down which documents your job will be run on.</p>

        <div class="form-group">
            <label for="">Search Name</label>
            <input type="text" name="filter_name" class="form-control" value="" placeholder="Interesting People">
        </div>

        <div class="form-group">
            <label>Search Selection</label>
            <select id="select-run-over"  name="run_over">
                <option value="all" selected>All Documents</option>
                <option value="within_date_range" data-field_type="date">Within Range</option>
                <option value="matching_query">Matching Query</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-3">
                <% document_type_list.each do |classname, human_name| %>
                <div id="document_type_<%= classname %>" class="hide">
                <label><%= human_name %> Fields</label>
                <select name="field_to_search">
                    <optgroup label="Date">
                        <% list_date_fields_by_document_type(classname).each do |date_classname, date_human_name|  %>
                        <option value="<%= date_classname %>" data-field_type="date">
                            <%= date_human_name %>
                        </option>
                        <% end %>
                    </optgroup>
                    <optgroup label="Text">
                        <% list_text_fields_by_document_type(classname).each do |text_classname, text_human_name|  %>
                        <option value="<%= text_classname %>" data-field_type="text">
                            <%= text_human_name %>
                        </option>
                        <% end %>
                    </optgroup>
                </select>
                </div>
                <% end %>
            </div>
            <div class="col-md-3">
                <div id="narrow-input-text" class="hide">
                    <input type="text" name="filter_text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div id="narrow-input-date" class="input-group hide">
                    <input type="text" name="filter_query" class="form-control" data-behaviour="datetimepicker">
                    <span class="input-group-addon">to</span>
                    <input type="text" name="end_filter_range" class="form-control" data-behaviour="datetimepicker">
                </div>
            </div>
            <div class="col-md-3">
                <div id="narrow-submit" class="hide">
                    <button class="btn btn-secondary">
                        <i class="icon-search"></i>
                        Narrow Search
                    </button>
                </div>
            </div>
        </div>
        <div id="narrow-result" class="hide">
            0 Documents
        </div>

        <h3>Select Text Miners</h3>
        <p>Choose what <em>types</em> of entities or text you want Catalyst to look for.</p>

        <div id="annotators">
        </div>
        <div class="clearfix"></div>

        <input type="hidden" name="project_index" value="<%= ENV['PROJECT_INDEX'] %>">

        <button id="run-job" type="submit" class="btn btn-primary btn-large pull-right">
            <i class="icon-progress"></i>
            Run Mining Job
        </button>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-annotator-icon" tabindex="-1" role="dialog" aria-labelledby="annotatorIconModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="annotatorIconModalLabel">
                    Choose Filter Icon
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Will be a nice grid of icons to click on...
                </p>
                <div class="text-right">
                   <button type="button" class="btn btn-default add-right" data-dismiss="modal">
                       Cancel
                   </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-running-job" tabindex="-1" role="dialog" aria-labelledby="runningJobModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="runningJobModalLabel">
                    Job Running
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Your Catalyst job has started running. This may take time for it to finish.
                </p>
                <div class="text-right">
                   <button type="button" class="btn btn-default add-right" data-dismiss="modal">
                       Cancel
                   </button>
                </div>
            </div>
        </div>
    </div>
</div>
