<div class="search-item"  id='<%= doc["_id"] %>' doctitle='<%= doc["_source"].title %>'>

  <div class="hide"><%= doc["_score"] %></div>

  <h3 class="title pull-left"><%= showByType("Title", doc["_source"], doc, false) %></h3>
  <div class="dataset-name pull-right">
    <i class="icon-<%= get_dataspec(doc).dataset_name.downcase.gsub("/", "-").gsub(" ", "-") %>"></i> <%= get_dataspec(doc).dataset_name %>
  </div>
  <div class="clearfix"></div>

  <% doc_picture = showByType("Picture", doc["_source"], doc, false) %>
  <% if (doc_picture != nil) && (!doc_picture.empty?) %>
  <div class="pictures"><%= doc_picture %></div>
  <% end %>

  <h4 class="title-sub"><%= showByType("Short Text", doc["_source"], doc, false) %></h4>

  <%= showByType("Date", doc["_source"], doc, false) %>
  <!-- Show shorter text -->
  <div class="row">
    <div class="col-md-12 facets">
      <%= showByType("Shorter Text", doc["_source"], doc, false) %>
    </div>
  </div>

  <% doc_description = showByType("Description", doc["_source"], doc, false) %>
  <% doc_long_text = showByType("Long Text", doc["_source"], doc, false) %>
  <% if doc_description != "" && doc_long_text != "" %>
  <div class="row">
    <div class="col-md-6 description">
      <%= doc_description %>
    </div>
    <div class="col-md-6 doc_text">
      <%= doc_long_text %>
    </div>
  </div>
  <% elsif doc_description != "" && doc_long_text == "" %>
  <div class="row">
    <div class="col-md-10 description">
      <%= doc_description %>
    </div>
  </div>
  <% elsif doc_description == "" && doc_long_text != "" %>
  <div class="row">
    <div class="col-md-10 doc_text">
      <%= doc_long_text %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 facets">
      <%= showByType("Category", doc["_source"], doc, false) %>
    </div>
  </div>

  <% # If duplicate entries %>
  <% if doc["item_fields"] %>
  <% doc["item_fields"].each do |item| %>
  <% if (item != nil) && (!item.empty?) && !(item.values.reject{|v| !v || v.empty?}.empty?) %>
  <hr>
  <h4 class="title-sub"><%= showByType("Short Text", item, doc, true) %></h4>
  <%= showByType("Date", item, doc, true) %>
  <div class="row">
    <div class="col-md-12 facets">
      <%= showByType("Shorter Text", item, doc, true) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 description">
	  <%= showByType("Description", item, doc, true) %>
    </div>
    <div class="col-md-6 doc_text">
	  <%= showByType("Long Text", item, doc, true) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 facets">
	  <%= showByType("Category", item, doc, true) %>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
