<div class="search-item"  id='<%= doc["_id"] %>' doctitle='<%= doc["_source"].title %>'>
  <div class="hide"><%= doc["_score"] %></div>

  <h3 class="title"><%= showByType("Title", doc) %></h3>

  <div class="pictures"><%= showByType("Picture", doc) %></div>

  <h4 class="title-sub"><%= showByType("Short Text", doc) %></h4>
 
  <%= showByType("Date", doc) %>

  <div class="row">
    <div class="col-md-6 description">
      <%= showByType("Description", doc) %>
    </div> 
    <div class="col-md-6 doc_text">
      <%= showByType("Long Text", doc)  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 facets">
      <%= showByType("Category", doc) %>
    </div>
  </div>

  <% # If duplicate entries %>
  <% if doc["item_fields"] %>
  <% doc["item_fields"].each do |item| %>
  <hr>

    <% tableItems.each do |t| %>
    <% if t["Display Type"] == "Short Text" %>
      <h4 class="title-sub"><%= getText(item, t["Field Name"]) %></h4>
    <% end %>
    <% end %>

    <% tableItems.each do |t| %>
    <% if t["Display Type"] == "Date" %>
    <% if item[t["Field Name"]] %>
      <span class="date"><%= t["Human Readable Name"] %>: <span class="list_date"><%= item[t["Field Name"]] %></span></span>
      <% end %>
    <% end %>
    <% end %>
  
    <div class="row">
      <% if item["doc_text"] %>
      <div class="col-md-6 description">
	<% tableItems.each do |t| %>
	  <% if t["Display Type"] == "Description" %>
	    <% if item[t["Field Name"]] %>
	      <%= raw(getText(item, t["Field Name"])) %>
	    <% end %>
	   <% end %>
	<% end %>
	
      </div> 
      <div class="col-md-6 doc_text">
        <%= truncate(getText(item, "doc_text"), length: 200) %>
      </div>
      <% else %>
      <div class="col-md-10 description">
        <%= getText(item, "description") %>
      </div> 
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12 facets">
        <% tableItems.each do |t| %>
        <% if @facet_fields.include?(t["Field Name"]) %>
        <% facet_links = raw(linkedFacets(item[t["Field Name"]], t["Field Name"])) %>
        <% if facet_links != "" && !facet_links.empty? %>
        <div class="facet <%= t["Field Name"] %>">
          <%= image_tag t["Icon"]+"-24.png" %> <%= facet_links %>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>

  <div class="row">
    <% tableItems.each do |t| %>
    <% if t["Display Type"] == "Link" %>
    <%= t["Field Name"] %>
    <% end %>
    <% end %>
  </div>

</div>
