<% first_doc = getFirstDoc %>

<h3>Links</h3>
<!-- Get a list of links to show -->
<% web_links = first_doc[@dataspec.web_url].is_a?(String) ? [first_doc[@dataspec.web_url]] : first_doc[@dataspec.web_url] %>

<% web_links.each.with_index do |link, index| %>
  <div class="show-article-item">
    <span class="article"><em>#<%= index + 1 %></em> <%= link %></span>
    <a href="<%= link %>" data-index="<%= index + 1 %>" class="btn btn-default
    btn-sm show-article-tab" target="_blank">Show in Doc Search</a>
    <a href="<%= link %>" class="btn btn-default btn-sm" target="_blank">Show in New Window</a>
  </div>
<% end %>
      
