
    <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
      <%= render partial: 'docs/sidebar' %>
    </div>

    <div id="maincontent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div id="search-details">
        <div class="detail">
	  <%= Doc.count %> Results
        </div>
      </div>

      <div id="search-result">
      <% link_field = "" %>
      <% item_fields = @item_fields %>
      
      <% if item_fields # Check for duplicates on ID Field %>
        <% genUniqueResults(@docs, item_fields, @importer["ID Field"]).each do |item| %>
          <%= render partial: 'docs/list', locals: { doc: item[1], item_fields: item_fields } %>
        <% end %>
      <% else # Normal rendering (no Item Fields) %>
        <% @docs.each do |doc| %>
          <%= render partial: 'docs/list', locals: { doc: doc } %>
        <% end %>
      <% end %>
      </div>

      <div id="search-pagination">
        <%= will_paginate @pagination %>
      </div>

    </div>
