<div id="sidebar" class="col-sm-4 col-md-3 sidebar">
  <%= render partial: 'docs/index/sidebar/sidebar' %>
</div>
<div id="maincontent" class="efm-target col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
  <div class="row">
    <%= render partial: 'docs/index/search/param_filters/search_filters' %>
    <div id="search-details" class="col-md-3 text-right">
      <div class="detail-heading">Results</div>
      <div class="detail">
          <span class="count"><%= @total_count %> Items</span><br>
          <span class="sub">Total</span>
      </div>
    </div>
  </div>
  <div id="search-result">
    <div id="uniquer">
      <%= render partial: 'docs/index/results/results' %>
    </div>
  </div>
  <% if @pagination.length >= 30 %>
  <div id="search-pagination">
    <%= will_paginate @pagination %>
  </div>
  <% end %>
</div>
