<div id="sidebar" class="col-sm-4 col-md-3 sidebar">
    <%= render partial: 'docs/show/sidebar' %>
    <!-- Theme Partial -->
    <% project = get_project_spec(ENV['PROJECT_INDEX']) %>
    <%=  render partial: '<%= ENV['RAILS_RELATIVE_URL_ROOT']%>/themes/' + project['theme']+ '/sidebar' rescue nil %>
</div>
<div id="maincontent" class="efm-target col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
    <% if is_editable?("show") %>
    <div id="editable-bar" class="row unedited">
        <div class="col-xs-6 col-sm-6 col-md-6 title">
            <i class="icon-logo"></i>
            Document Editor
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
            <button class="pull-right btn btn-sm" id="button-editable-action">
               Start Editing
            </button>
            <button class="pull-right btn btn-sm add-right hide" id="button-editable-discard">
               Discard Changes
            </button>
            <button class="pull-right btn btn-sm btn-danger add-right" id="button-delete-doc">
               Delete Document
            </button>
        </div>
    </div>
    <% end %>
    <%= render partial: 'docs/show/tabs/tab_button_list' %>
    <%= render partial: 'docs/show/tabs/tab_pane_list' %>
</div>
<%= render partial: 'shared/modals_editor' %>
