<% link_field = "" %>

<% @nsadocs.sort { |a, b| a["_score"] <=> b["_score"]}.reverse.each do |nsadoc| %>
  <div class="search-item"  id='<%= nsadoc["_id"] %>' doctitle='<%= nsadoc["_source"].title %>'>
    <div class="hide"><%= nsadoc["_score"] %></div>
    
    <h3 class="title"><%= link_to getText(nsadoc, "title"), nsadoc_path(nsadoc["_id"]), target: "_blank" %></a></h3>
    <div class="row">
      <div class="col-md-6 description">
        <a class="date">Published on <%= nsadoc["_source"].released_date %></a><br>
	<%= getText(nsadoc, "description") %>

      </div> 
      <div class="col-md-6 doc_text">
        <span class="date">Document <%= nsadoc["_source"].document_date %></span><br>
        <%= truncate(getText(nsadoc, "doc_text"), :length => 200) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 facets">
        <% tableItems.each do |t| %>
        <% if t["Facet?"] == "Yes" %>
        <% facet_links = raw(linkedFacets(nsadoc["_source"][t["Field Name"]], t["Field Name"])) %>
        <% if facet_links != "" && !facet_links.empty? %>

        <div class="facet <%= t["Field Name"] %>">
          <%= image_tag t["Icon"]+"-24.png" %> <%= facet_links %>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <% end %>

