<table id="docs" class="display table table-hover table-condensed"
       cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Document</th>
      <th>Programs</th>
      <th>Codewords</th>
      <th>Creation Date</th>
      <th>Document Type</th>
      <th>Records Collected</th>
      <th>Legal Authority</th>
      <th>Countries</th>
      <th>SIGADS</th>
      <th>Release Date</th>
      <th>Released By</th>
    </tr>
  </thead>
  <tbody>
    <% @nsadocs.each do |nsadoc| %>
      <tr>
	<td><%= nsadoc.title %></td>
	<td><%= nsadoc.aclu_desc %></td>
	<td><%= truncate(nsadoc.doc_text, :length => 200) %></td>
	<td><%= nsadoc.programs %></td>
	<td><%= nsadoc.codewords %></td>
	<td><%= nsadoc.creation_date %></td>
	<td><%= nsadoc.type %></td>
	<td><%= nsadoc.records_collected %></td>
	<td><%= nsadoc.legal_authority %></td>
	<td><%= nsadoc.countries %></td>
	<td><%= nsadoc.sigads %></td>
	<td><%= nsadoc.release_date %></td>
	<td><%= nsadoc.released_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

