<table id="docs" class="display table table-hover table-condensed"
       cellspacing="0">
  <thead>
    <tr>
      <th>Relevance</th>
      <% tableItems.each do |t| %>
        <th><%= t["Human Readable Name"] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @nsadocs.sort { |a, b| a.hit["_score"] <=> b.hit["_score"] }.reverse.each do |nsadoc| %>
      <tr class="docrow"  id="<%= nsadoc.id %>" doctitle="<%= nsadoc.title %>">
	<td><%= nsadoc.hit["_score"] %> </td>
	<% tableItems.each do |t| %>
	  <% if t["Truncate"] %>
	  <td><%= truncate(nsadoc[t["Field Name"]], :length =>
	  t["Truncate"].to_i) %></td>
	  <% else %>
          <td><%= nsadoc[t["Field Name"]] %></td>
	  <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
