
<table id="docs" class="display table table-hover table-condensed"
       cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Document</th>
      <th>Programs</th>
      <th>Codewords</th>
      <th>Creation Date</th>
      <th>Document Type</th>
      <th>Records Collected</th>
      <th>Legal Authority</th>
      <th>Countries</th>
      <th>SIGADS</th>
      <th>Release Date</th>
      <th>Released By</th>
    </tr>
  </thead>
  <tbody>
    <% @nsadocs.each do |nsadoc| %>
      <tr class="docrow"  id="<%= nsadoc.id %>" doctitle="<%= nsadoc.title %>">
	<td><%= nsadoc.title %></td>
	<td><%= nsadoc.aclu_desc %></td>
	<td><%= truncate(nsadoc.doc_text, :length => 200) %></td>
	<td><%= nsadoc.programs %></td>
	<td><%= nsadoc.codewords %></td>
	<td><%= nsadoc.creation_date %></td>
	<td><%= nsadoc.type %></td>
	<td><%= nsadoc.records_collected %></td>
	<td><%= nsadoc.legal_authority %></td>
	<td><%= nsadoc.countries %></td>
	<td><%= nsadoc.sigads %></td>
	<td><%= nsadoc.release_date %></td>
	<td><%= nsadoc.released_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function () {
   var storedtabli = unescape(localStorage.getItem("tabliData"));
   var storedtabs = unescape(localStorage.getItem("tabData"));

   if (storedtabli){
     $('.tabli').remove();
     $('.nav-tabs').append(storedtabli);
     var duplicateChk = {};

     $('.tabli').each (function () {
     if (duplicateChk.hasOwnProperty(this.id)) {
       $(this).remove();
     } else {
       duplicateChk[this.id] = 'true';
     }
     });
     
     $('.tabp').remove();
     $('.tab-content-bar').append(storedtabs);

     var duplicateChk2 = {};

     $('.tab-pane-bar').each (function () {
     if (duplicateChk2.hasOwnProperty(this.id)) {
      $(this).remove();
     } else {
      duplicateChk2[this.id] = 'true';
     }
    });
   }

  $('tr.docrow').click(function () {
    $('.nav-tabs>li.active').removeClass('active');
    var docidfull = $(this).attr("id");
    var docid = $(this).attr("id").replace(/[(]/g, "").replace(/[)]/g, "").replace(/[|]/g, "").replace(/[-]/g, "").replace(/[_]/g, "");
    var doctitle = $(this).attr("doctitle");
    if ($('#'+docid+'doc').length == 0){
      $('.nav-tabs>li.active').removeClass('active');
      $('<li class="active tabli" id="'+docid+'tab"><a href="#'+docid+'doc" class="tablink" data-toggle="tab">'+doctitle+'<span id="delete'+docid+'" class="removetab" style="color: red;"> <b><big>X</big></b></span></a></li>').appendTo('ul.nav-tabs');
      $('.tab-content-bar>div.active').removeClass('active');
      $.ajax({
        url: "nsadocs/makedocview", type: "GET",
        data: { docid: docid, docidfull: docidfull },
        dataType: "script"
      });
    } else {
      $('.nav-tabs>li.active').removeClass('active');
      $('a[href=#'+docid+'doc]').parent().addClass('active');
      $('.tab-content-bar>div.active').removeClass('active');
      $('#'+docid+'doc').addClass('active');
    }
  });
  
  $('ul.nav-tabs').on('click', '.removetab', function () {
    $('#'+$(this).attr("id").replace("delete", "")+'tab').remove();
    $('#'+$(this).attr("id").replace("delete", "")+'doc').remove();
    $('.nav-tabs>li.active').removeClass('active');
    $('a[href=#searchtab]').parent().addClass('active');
    $('.tab-content-bar>div.active').removeClass('active');
    $('#searchtab').addClass('active');

    localStorage.clear();

    var storetabs = $('<div id="tmp"></div>');
    var savetabli = $('.tabli').clone().removeClass('active');
    savetabli.appendTo(storetabs);
    localStorage.setItem("tabliData", escape(storetabs.html()));

    var store = $('<div id="tmp2"></div>');
    var savepane = $('.tab-pane-bar').clone().removeClass('active');
    savepane.splice("div#searchtab.tab-pane", 1);
    savepane.appendTo(store);
    localStorage.setItem("tabData", escape(store.html()));
  });
 });
</script>
