<table id="docs" class="display table table-hover table-condensed"
       cellspacing="0">
  <thead>
    <tr>
      <th>Relevance</th>
      <% tableItems.each do |t| %>
        <th><%= t["Human Readable Name"] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @nsadocs.sort { |a, b| a.hit["_score"] <=> b.hit["_score"] }.reverse.each do |nsadoc| %>
      <tr class="docrow"  id="<%= nsadoc.id %>" doctitle="<%= nsadoc.title %>">
	<td><%= nsadoc.hit["_score"] %> </td>
	<% tableItems.each do |t| %>
	  <% if t["Truncate"] %>
	  
	    <% if nsadoc.hit["highlight"] && !nsadoc.hit["highlight"].empty? %>
	      <td><%= raw(nsadoc.hit["highlight"][t["Field Name"]].first.to_s.gsub("<em>", "<b>").gsub("</em>", "</b>")) %></td>
	    <% else %>
	      <td><%= truncate(nsadoc[t["Field Name"]], :length => t["Truncate"].to_i) %>
	    <% end %>
	  <% elsif t["Facet?"] == "Yes" %>
	    <td><%= raw(linkedFacets(nsadoc[t["Field Name"]], t["Field Name"])) %></td>
	  <% elsif t["Field Name"] == "title" %>
	    <td><%= link_to nsadoc[t["Field Name"]], nsadoc, target: "_blank" %></td>
	  <% else %>
            <td><%= nsadoc[t["Field Name"]] %></td>
	  <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
