<% fieldList = JSON.parse(File.read("app/dataspec/nsadata.json")) %>
<% sortFields = fieldList.sort_by{|field| field["Location"].to_i} %>

<div class="input-group">
<form action="" class="input-group-addon">
  <select name="ftypes" id="ftypes">
    <option value="all" selected>All</option>
    <% sortFields.each do |f| %>
      <% if f["Searchable?"] == "Yes" %>
        <option value="<%= f["Field Name"] %>"><%= f["Human Readable Name"] %></option>
      <% end %>
    <% end %>
  </select>
</form>

<%= render partial: 'nsadocs/queries/allquery' %>
<% sortFields.each do |f| %>
  <% if f["Type"] == "String" %>
    <%= render partial: 'nsadocs/queries/stringquery', locals: {fieldname: f["Field Name"], hrname: f["Human Readable Name"]} %>
  <% elsif f["Type"] == "Date" %>
    <%= render partial: 'nsadocs/queries/datequery', locals: {fieldname: f["Field Name"], start_date: f["Form Params"][0], end_date: f["Form Params"][1] } %>
  <% end %>
<% end %>
</div>
