<div class="input-group">
<form action="" class="input-group-addon">
  <select name="ftypes" id="ftypes">
    <option value="all" selected>All</option>
    <option value="title">Title</option>
    <option value="aclu_desc">Description</option>
    <option value="doc_text">Document</option>
    <option value="programs">Programs</option>
    <option value="codewords">Codewords</option>
    <option value="creation_date">Creation Date</option>
    <option value="type">Document Type</option>
    <option value="records_collected">Records Collected</option>
    <option value="legal_authority">Legal Authority</option>
    <option value="countries">Countries</option>
    <option value="sigads">SIGADS</option>
    <option value="release_date">Release Date</option>
    <option value="released_by">Released By</option>
  </select>
</form>

<%= render partial: 'nsadocs/allquery' %>
<%= render partial: 'nsadocs/titlequery' %>
<%= render partial: 'nsadocs/descquery' %>
<%= render partial: 'nsadocs/docquery' %>
<%= render partial: 'nsadocs/programquery' %>
<%= render partial: 'nsadocs/codewordquery' %>
<%= render partial: 'nsadocs/creationdatequery' %>
<%= render partial: 'nsadocs/typequery' %>
<%= render partial: 'nsadocs/recordsquery' %>
<%= render partial: 'nsadocs/legalquery' %>
<%= render partial: 'nsadocs/countriesquery' %>
<%= render partial: 'nsadocs/sigadsquery' %>
<%= render partial: 'nsadocs/releasedatequery' %>
<%= render partial: 'nsadocs/releasedbyquery' %>
</div>
