<% fieldList = JSON.parse(File.read("app/dataspec/nsadata.json")) %>
<% sortItems = fieldList.sort_by{|item| item["Location"].to_i} %>

<div class="container-fluid fill">
<div class="row-fluid">
<div class="span3 offset1 sidebar" id="sidebar">
<% sortItems.each do |f| %>
  <% if f["Facet?"] == "Yes" && @nsadoc[f["Field Name"]] %>
    <% if !@nsadoc[f["Field Name"]].empty? %>
    <p><strong><%= f["Human Readable Name"] %>: </strong>
      <%= raw(linkedFacets(@nsadoc[f["Field Name"]], f["Field Name"])) %>
      </p>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="span7 offset5" id="maincontent">
<ul class="nav nav-pills" style="text-align:center;">
  <li class="active" id="litext"><a href="#text" data-toggle="tab">Text</a></li>
  <li id="lipdf"><a href="#pdf" data-toggle="tab">Document</a></li>
</ul>
<br />
<div class="tab-content" id="div">
<div class="tab-pane active" id="text">
  
  <% fieldList.each do |f| %>
    <% if f["In doc?"] == "Yes" && f["Facet?"] == "No" %>
    <p>
      <strong><%= f["Human Readable Name"] %>:</strong>
      <% if f["Truncate"] != nil %>
        <%= raw format_text(@nsadoc[f["Field Name"]]) %>
      <% else %>
        <%= @nsadoc[f["Field Name"]] %>
      <% end %>
    </p>
    <% end %>
  <% end %>
</div>

<div class="tab-pane" id="pdf">
<%= link_to "document",  "public/12333flowchart.pdf" %>
</div>
</div>
</div>
</div>
