<p id="notice"><%= notice %></p>
<% @nsadoc = Nsadoc.find(docidfull) %>
<ul class="nav nav-pills" style="text-align:center;">
  <li class="active" id="litext<%=@docid %>"><a href="#text<%= @docid %>" data-toggle="tab">Text</a></li>
  <li id="lipdf<%= @docid %>"><a href="#pdf<%= @docid %>" data-toggle="tab">Document</a></li>
</ul>
<br />
<div class="tab-content" id="div<%=@docid %>">
<div class="tab-pane active" id="text<%= @docid %>">

  <% fieldList = JSON.parse(File.read("app/dataspec/nsadata.json")) %>
  
  <% fieldList.each do |f| %>
    <% if f["In doc?"] == "Yes" %>
    <p>
      <strong><%= f["Human Readable Name"] %>:</strong>
      <% if f["Truncate"] != nil %>
        <%= raw format_text(@nsadoc[f["Field Name"]]) %>
      <% else %>
        <%= @nsadoc[f["Field Name"]] %>
      <% end %>
    </p>
    <% end %>
  <% end %>
</div>

<div class="tab-pane" id="pdf<%= @docid %>">
<embed src="docs/<%= @nsadoc.doc_path %>" width="1000" height="750">
</div>
</div>
