<div class="container-fluid fill">
<div class="row-fluid">
  <div class="span3 offset1 sidebar" id="sidebar">

  <% first_doc = @link_type["Link Type"] == "mult_items" ? @nsadocs.first : @nsadoc %>
    
<% @field_info_sorted.each do |f| %>
  <% if f["Facet?"] == "Yes" && first_doc[f["Field Name"]] && f["Item_Field"]=="No" %>
    <% if !first_doc[f["Field Name"]].empty? %>
    <p><strong><%= f["Human Readable Name"] %>: </strong>
      <%= raw(linkedFacets(first_doc[f["Field Name"]], f["Field Name"])) %>
      </p>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="span7 offset5" id="maincontent">
<ul class="nav nav-pills" style="text-align:center;">
  <li class="active" id="litext"><a href="#text" data-toggle="tab">Text</a></li>
  <% if @importer["Show PDF?"] == "Yes" %>
  <li id="lipdf"><a href="#pdf" data-toggle="tab">Document</a></li>
  <% end %>
</ul>
<br />
<div class="tab-content" id="div">
  <div class="tab-pane active" id="text">

    <% if @link_type["Link Type"] != "mult_items" %> 
      <% @field_info_sorted.each do |f| %>
        <% if f["In doc?"] == "Yes" && f["Facet?"] == "No" %>
	 <%= raw prepareField(f, @nsadoc) %>
        <% end %>
       <% end %>
    <% else %>	
      <% @field_info_sorted.each do |f| %>
	<% if f["In doc?"] == "Yes" && f["Facet?"] == "No" && f["Item_Field"]== "No" %>
	  <%= raw prepareField(f, first_doc) %>
        <% end %>
      <% end %>
      <hr /><hr />
      <% @nsadocs.each do |d| %>
       <% @field_info_sorted.each do |f| %>
	<% if f["Item_Field"] == "Yes" %>
	   <%= raw prepareField(f, d) %>
	<% end %>
       <% end %>
       <hr />
    <% end %>
   <% end %>
</div>

<% if @importer["Show PDF?"] == "Yes" %>
<div class="tab-pane" id="pdf">
  <iframe src="<%= asset_path(@importer['File Path Prefix']+first_doc[@importer['File Path Attr']]) %>" width="1000" height="750"></iframe>
</div>
<% end %>

</div>
</div>
</div>
