<!-- Generates the list of dropdown options for a data source -->
<optgroup label="<%= source['name'] %>">

  <option data-type="all" value="<%= source_param_name %>">
    All <%= source['name'] %>
  </option>

  <!-- Displays the groups for each field type -->
  <optgroup label="Text">
    <% text_types = ["Title", "Description", "Short Text", "Medium Text",
    "Long Text", "Shorter Text", "Tiny Text"] %>
    <%= raw(load_field_options_for_type(text_types, source, "string")) %>
  </optgroup>

  <optgroup label="Date">
    <%= raw(load_field_options_for_type(["Date"], source, "date")) %>
    <%= raw(load_field_options_for_type(["DateTime"], source, "date")) %>
  </optgroup>

  <optgroup label="Number">
    <%= raw(load_field_options_for_type(["Number"], source, "number")) %>
  </optgroup>

  <optgroup label="Categories">
    <%= raw(load_field_options_for_type(["Category"], source, "string")) %>
  </optgroup>

</optgroup>


