<!-- Displays fields on the text pane -->
<%= show_by_type("Picture", doc, @dataspec) %><br />

<%= show_by_type("Title", doc, @dataspec, "show") %>
<%= show_by_type("Source Link", doc, @dataspec, "show") %>

<%= show_by_type("Short Text", doc, @dataspec, "show") %>

<%= show_by_type("Date", doc, @dataspec, "show") %>
<%= show_by_type("DateTime", doc, @dataspec, "show") %>
<%= show_by_type("Number", doc, @dataspec, "show") %>

<%= show_by_type("Tiny Text", doc, @dataspec, "show") %>
<%= show_by_type("Shorter Text", doc, @dataspec, "show") %>
<%= show_by_type("Category", doc, @dataspec, "show-text") if is_item_field %>

<%= show_by_type("Description", doc, @dataspec, "show") %>
<%= show_by_type("Long Text", doc, @dataspec, "show") %>

<div class="row mt-5">
    <% if is_data_for_type?("Related Link", doc, @dataspec) %>
    <div class="col-md-6">
        <%= show_by_type("Related Link", doc, @dataspec, "show") %>
    </div>
    <% end %>
    <% if is_data_for_type?("Named Link", doc, @dataspec) %>
    <div class="col-md-6">
        <%= show_by_type("Named Link", doc, @dataspec, "show") %>
    </div>
    <% end %>
</div>
<% if is_data_for_type?("Child Document Link", doc, @dataspec) %>
<div class="row mt-5">
    <div class="col-md-12">
    <%= show_by_type("Child Document Link", doc, @dataspec, "show") %>
    </div>
</div>
<% end %>
