<% if ['.jpg', '.jpeg', '.gif', '.png', '.bmp', '.tif', '.tiff'].include? file_type %>
  <img src="<%= asset_path(file_path) %>">
<% elsif file_type == '.pdf' %>
  <object class="show-document" data="<%= file_path %>" type="application/pdf">
    <embed src="<%= asset_path(file_path) %>" type="application/pdf" />
  </object>
<% else %>
  <h3>Download Document</h3>
  <a href="<%= file_path %>" download><%= file_path %></a>
<% end %>

<br />
