<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% project = get_project_spec(ENV['PROJECT_INDEX']) %>

    <title><%= content_for?(:title) ? yield(:title) : project["title"] %></title>

    <!--  Icons for Mobile Devices, Favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "/css/" + project["theme"], :media => "all" %>

    <!-- For all other devices (size should be 32x32 px) -->
    <%= favicon_link_tag "/themes/" + project["theme"] + '/' + project["favicon"], :rel => 'shortcut icon' %>

    <!-- Load vars for use in JS -->
    <%= render partial: 'layouts/javascriptvars' %>

    <link href="/css/viewer-datauri.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <% if project["logo"] != "" %><img src="/themes/<%= project['theme'] %>/<%= project['logo'] %>"><% end %>
            <span class="title"><%= project["title"] %> </span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <%= render partial: 'docs/index/search/searchbar/searchbar' %>
	      <%= render partial: 'layouts/linkmenu', locals: { project: project } %>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <%= bootstrap_flash %>
    <div class="container-fluid">
      <div class="row">
	    <%= yield %>
      </div>
    </div>
    <% if params["controller"] != "catalyst" %>
    <div id="efm-button">
      <i class="icon-modified"></i>
      <div id="efm-menu">
        <h3>
          <i class="icon-modified"></i>
          Highligther
        </h3>
        <a id="efm-unhighlightall" class="efm-need-highlight">Un-highlight all</a>
        <a id="efm-unhighlight" class="efm-need-highlight" >Un-highlight selection<span>u</span></a>
        <a id="efm-highlight">Highlight selection<span>h</span></a>
        <div id="efm-permalink" class="efm-need-highlight">
          <span>Link to highlights (on this page)</span>
          <input type="text" readonly="readonly" class="form-control" value="">
        </div>
        <% if is_editable?("show") %>
        <button id="button-save-highlights" class="btn btn-primary btn-small efm-need-highlight">
          Save Highlights
        </button>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
