<% if index == 0 || @default_set == false %>
  <% @default_set = true %>
  <% @default_set_pane = index %>
  <li class="active" id="li<%=tab%>">
<% else %>
  <li id="li<%=tab%>">
<% end %>
<a href="#<%=tab%>" data-toggle="tab"><i class="icon-<%=tab%>"></i>
   <%= tab.capitalize %></a>
</li>
